# Node modules
node_modules/

# .env file 
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Build/output 
dist/
build/

# Jest coverage 
coverage/
